<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" sizes="16x16" href="https://image.flaticon.com/icons/png/128/3163/3163998.png">
        <title>Détection du drapeau d'un pays</title>
    </head>


    <br><br>
     <h1>Détection du drapeau d'un pays</h1>
     <br>  
     <h4>Importez une photo contenant un drapeau et l'algorithme determinera le pays (Espagne, France ou Japon)</h4>
    <br>
    <br>
    <body style="font-family:Copperplate, Copperplate Gothic Light, fantasy;background-image: url(https://images.pexels.com/photos/552789/pexels-photo-552789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);text-align: center;">

         <div class="content">

              <p>Dernière image importée dans la base de donnée :</p>
             <li><a>{{ document.docfile.name }}</a></li>

        <!-- Upload form. Note enctype attribute! -->
        <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

             <p> <button  class="btn" value="Upload">Importer</button> </p>
            <br>
            <a class="btn btn-success" href="{% url 'keras_analyze' %}" style="
            color: white;padding: 16px 32px;">Analyser (Keras)</a>
        </form>


    </div>
    </body>
</html>
